# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt

# Gradle
.gradle/
gradle/
build/
out/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ / Eclipse / VSCode
.idea/
*.iml
*.ipr
*.iws
.vscode/

# OS-generated
.DS_Store
Thumbs.db

# JARs
*.jar
*.log

# Temp files
*.class
*.swp
*.swo
